
<div class="row">
    <div class="col-2">
        <app-side-nav></app-side-nav>
    </div>
    <div class="col-9">
        <app-general [Validate]="validate" (nameUpdated)="handleNameUpdated($event)"></app-general>
        <app-color-scheme  [Validate]="validate" [CityName]="CityName"></app-color-scheme>
        <app-news></app-news>
        <app-help-wanted></app-help-wanted>
        <app-government [Validate]="validate"></app-government>

        <button type="button" (click)="validate = true" class="btn btn-info mt-3">Validate</button>

    </div>
</div>
